<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../lib/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../resources/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/sweetalert-master/dist/sweetalert.css">

    <script src="../../lib/jquery-3.1.1.js"></script>
    <script src="../../lib/underscore.js"></script>
    <script src="../../lib/backbone.js"></script>
    <script src="../../lib/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="../../lib/sweetalert-master/dist/sweetalert.min.js"></script>

    <title>Animals Search</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">Home</a>
                <li><a href="#user/profile"
                       sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER') or hasRole('ROLE_USER_ACTIVE')">Profile</a>
                <li><a href="/login"
                       sec:authorize="!hasRole('ROLE_ADMIN') and !hasRole('ROLE_USER')AND !hasRole('ROLE_USER_ACTIVE')">Login</a>
                <li><a href="/registration"
                       sec:authorize="!hasRole('ROLE_ADMIN') and !hasRole('ROLE_USER') and !hasRole('ROLE_USER_ACTIVE')">Registration</a>
                <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_ACTIVE')"><a href="#user/animal/add">Add
                    Animal<span class="sr-only">(current)</span></a></li>
                <li><a href="#animals/my" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER_ACTIVE')">My
                    Animals</a>
                </li>
                <li><a href="#animals/all">Animals</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"
                       sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER') or hasRole('ROLE_USER_ACTIVE')">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- CONTAINER -->

<div class="container">
</div>
<span th:hidden="username" th:id="username" sec:authentication="name"></span>

<script type="text/template" id="welcome">
    <div id="welcomePage">
        <h4><b><%= greeting%></b></h4>
        <img src="../../resources/img/animal1.jpg" class="rightImg" align="right" style="width: 20%; height: 10%"></p>

        <p> This application was made for those, who love animals as much as I.
            It can help you to find a lost animal or just an animal that is looking for loving home.
            Maybe you want to find an owner of the animal that, you think, was lost? Or you want to give
            a home for an animal for free or for money? - I can help you with that!</p>

        <img src="../../resources/img/animal2.jpg" class="leftImg" align="left" style="width: 20%; height: 10%"></p>

        <p> If you found an animal and you want to help it, please fill a form for this animal. Maybe someone is looking
            for it. You can make two lives happier!
        </p>

        <p>
            Your home pet appeared offspring? Congratulations! You can use Animals Search to sell or give it for free.
            You have lost you animal? - I`m so sorry.. I hope some kind person will take care of it and fill a form.
            Maybe someone already has, check it!
        </p>

        <hr>

        <img src="../../resources/img/animal3.jpg" class="rightImg" align="right" style="width: 20%; height: 10%"></p>

        <ul>
            <p><b>How to use this application:</b></p>

            <%if(role == 'ROLE_USER_ACTIVE' || role == 'ROLE_ADMIN'){%>

            <li>Go to <a href="#user/animal/add">Add Animal</a> and fill a form. Search will entirely depend on this
                form.
            </li>
            <li>Go to your cabinet <a href="#animals/my">My Animals</a> and follow the link "Find". The result will be
                animals that match your query the most.
            </li>
            <li>Follow the link of the contact person to make a dial.</li>

            <%}else{%>
            <%if(role == 'none'){%>
            <li>First of all you have to be authorized in this application.
                <a href="/registration">Registration</a>/<a href="/login">Login</a>
            </li>
            <li>
                After registration activation message will be sent on you email. Follow the link to activate your
                profile!
            </li>
            <%}%>

            <%if(role == 'ROLE_USER'){%>
            <li>
                Activation message was sent on you email <%=email%>.
                If you didn`t get message, try to get new one: <a id="getActMessage">Get activation message</a>.
            </li>
            <%}%>

            <li>Go to "Add Animal" and fill a form. Search will entirely depend on this
                form.
            </li>
            <li>Go to your cabinet "My Animals" and follow the link "Find". The result will be
                animals that match your query the most.
            </li>
            <li>Follow the link of the contact person to make a dial</li>
            <%}%>
        </ul>

        <hr style="clear:right;">

        <p><b>At last:</b></p>

        <p>I hope so much that this application was useful for you. The more animals have found a home, the happier I
            am.</p>
        <ul>
            You can contact me:
            <li>Mob: 050-487-61-95</li>
            <li>Skype: belaya.ann</li>
            <li>VK: <a href="https://vk.com/aniikabelu">aniikabelu</a></li>
        </ul>
        <p>Be kind and help animals!</p>

        <p>With love, Anna.</p>
        <hr>

        <p><b>Technology used in the project:</b></p>

        <p style="text-decoration: underline">Backend:</p>

        <p>Java7, SpringBoot, SpringSecurity, REST, MySQL, Maven</p>

        <p style="text-decoration: underline">Frontend:</p>

        <p>HTML, CSS, Backbone, Jquery, Bootstrap, Thymeleaf</p>
    </div>
</script>

<script type="text/template" id="another-user-profile">
    <form method="post">
        <table class="table table-striped">
            <tr>
                <td><h2>Profile:</h2></td>
                <td><h2>
                </h2></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><%= user.lastName%></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><%= user.firstName%></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><%= user.phoneNumber%></td>
            </tr>
        </table>
    </form>
</script>

<script type="text/template" id="find-animal">
    <h2 align="center">Animals:</h2>

    <% _.each(animalList, function(animal){%>
    <form class="animalTable" style="margin-top: 3%" method="post">
        <table class="table table-striped">
            <tr>
                <td style="width: 45%">Name:</td>
                <td style="width: 45%"><%= animal.kindName%></td>
            </tr>
            <tr>
                <td style="width: 45%">Breed:</td>
                <td style="width: 45%"><%= animal.breedName%></td>
            </tr>
            <tr>
                <td style="width: 45%">Location:</td>
                <td style="width: 45%"><%= animal.location.name%></td>
            </tr>
            <tr>
                <td style="width: 45%">Age:</td>
                <td style="width: 45%"><%= animal.age%></td>
            </tr>
            <tr>
                <td style="width: 45%">Criteria</td>
                <td style="width: 45%">
                    <ul>
                        <% _.each(animal.criteriaList, function(criteria){%>
                        <li><%= criteria.name%></li>
                        <%})%>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Contact Person:</td>
                <td><%if(animal.user.username == username){%>
                    <%= animal.user.lastName%> <%=animal.user.firstName[0]%>.
                    <%} else {%>
                    <a href="#user/<%=animal.user.id%>"><%= animal.user.lastName%> <%=
                        animal.user.firstName[0]%>.</a>
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><%=animal.status%></td>
            </tr>
        </table>
    </form>
    <%})%>

    <div align="center">
        <ul class="pagination pagination-lg">
            <%if(minLinkValue != 0){%>
            <li><a id="foundPrevPages">&laquo;</a></li>
            <%}%>

            <% for (var i = minLinkValue; i < maxLinkValue; i++){%>
            <% if(activePGNLink == i){%>
            <li class="active"><a><%= i + 1%></a></li>
            <%} else {%>
            <li class="foundPage"><a><%= i + 1%></a></li>
            <%}%>
            <%}%>

            <%if(maxLinkValue != numberOfPGNLinks){%>
            <li><a id="foundNextPages">&raquo;</a></li>
            <%}%>
        </ul>
    </div>
</script>

<script type="text/template" id="animals-all">
    <h2 align="center">Animals:</h2>

    <div align="center">
        | Location:
        <select id="selectLocationFilter">
            <option><%= actLocation%></option>

            <% _.each(locations, function(location){%>
            <%if(location.name != actLocation){%>
            <option><%= location.name%></option>
            <%}%>

            <%})%>
        </select> |
        | Kind:
        <select id="selectKindFilter">
            <option><%= actKind%></option>

            <% _.each(kinds, function(kind){%>
            <%if(kind.name != actKind){%>
            <option><%= kind.name%></option>
            <%}%>

            <%})%>
        </select> |
        <%if(status != 'ALL'){%>
        <a id="all">| All |</a>
        <%}%>
        <%if(status != 'LOST'){%>
        <a id="lost">| LOST |</a>
        <%}%>
        <%if(status != 'FOUND'){%>
        <a id="found">| FOUND |</a>
        <%}%>
        <%if(status != 'SALE'){%>
        <a id="sale">| SALE |</a>
        <%}%>
        <%if(status != 'LOOK_FOR'){%>
        <a id="lookFor">| LOOK FOR |</a>
        <%}%>
    </div>

    <% _.each(animalList, function(animal){%>
    <table style="margin-top: 3%; margin-left: 3%; margin-right: 3%">
        <tr>
            <td style="width: 70%">
                <form class="animalTable" method="post">
                    <table class="table">
                        <tr>
                            <td style="width: 45%">Name:</td>
                            <td style="width: 45%"><%= animal.kindName%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Breed:</td>
                            <td style="width: 45%"><%= animal.breedName%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Location:</td>
                            <td style="width: 45%"><%= animal.location.name%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Age:</td>
                            <td style="width: 45%"><%= animal.age%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Criteria</td>
                            <td style="width: 45%">
                                <ul>
                                    <% _.each(animal.criteriaList, function(criteria){%>
                                    <li><%= criteria.name%></li>
                                    <%})%>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Contact Person:</td>
                            <td><%if(animal.user.username == username){%>
                                <%= animal.user.lastName%> <%=animal.user.firstName[0]%>.
                                <%} else {%>
                                <a href="#user/<%=animal.user.id%>"><%= animal.user.lastName%> <%=
                                    animal.user.firstName[0]%>.</a>
                                <%}%>
                            </td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><%=animal.status%></td>
                        </tr>
                    </table>
                </form>
            </td>

            <td style="width: 30%; border: 3px double lightseagreen">
                    <%if(animal.photoList.length == 0){%>
                    <p align="center"><img src="../../resources/img/emptyphoto.jpg" style="width: 80%"></p>
                    <%}else{%>
                    <p align="center"><img src="../../resources/photo/<%=animal.photoList[0]%>" class="photo"></p>
                    <%}%>
            </td>
        </tr>
    </table>
    <%})%>

    <div align="center">
        <ul class="pagination pagination-lg">
            <%if(minLinkValue != 0){%>
            <li><a id="prevPages">&laquo;</a></li>
            <%}%>

            <% for (var i = minLinkValue; i < maxLinkValue; i++){%>
            <% if(activePGNLink == i){%>
            <li class="active"><a><%= i + 1%></a></li>
            <%} else {%>
            <li class="page"><a><%= i + 1%></a></li>
            <%}%>
            <%}%>

            <%if(maxLinkValue != numberOfPGNLinks){%>
            <li><a id="nextPages">&raquo;</a></li>
            <%}%>
        </ul>
    </div>
</script>

<script type="text/template" id="animals-my">
    <h2 align="center">Animals:</h2>

    <div align="center">
        <%if(status != 'ALL'){%>
        <a id="myAll">| All |</a>
        <%}%>
        <%if(status != 'LOST'){%>
        <a id="myLost">| LOST |</a>
        <%}%>
        <%if(status != 'FOUND'){%>
        <a id="myFound">| FOUND |</a>
        <%}%>
        <%if(status != 'SALE'){%>
        <a id="mySale">| SALE |</a>
        <%}%>
        <%if(status != 'LOOK_FOR'){%>
        <a id="myLookFor">| LOOK FOR |</a>
        <%}%>
    </div>

    <% _.each(animalList, function(animal){%>
    <table style="margin-top: 3%; margin-left: 3%; margin-right: 3%">
        <tr>
            <td style="width: 70%">
                <form class="animalTable" method="post">
                    <table class="table">
                        <tr>
                            <td style="width: 45%">Name:</td>
                            <td style="width: 45%"><%= animal.kindName%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Breed:</td>
                            <td style="width: 45%"><%= animal.breedName%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Location:</td>
                            <td style="width: 45%"><%= animal.location.name%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Age:</td>
                            <td style="width: 45%"><%= animal.age%></td>
                        </tr>
                        <tr>
                            <td style="width: 45%">Criteria</td>
                            <td style="width: 45%">
                                <ul>
                                    <% _.each(animal.criteriaList, function(criteria){%>
                                    <li><%= criteria.name%></li>
                                    <%})%>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Contact Person:</td>
                            <td><%if(animal.user.username == username){%>
                                <%= animal.user.lastName%> <%=animal.user.firstName[0]%>.
                                <%} else {%>
                                <a href="#user/<%=animal.user.id%>"><%= animal.user.lastName%> <%=
                                    animal.user.firstName[0]%>.</a>
                                <%}%>
                            </td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><%=animal.status%></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#animal/find/<%=animal.id%>"><input type="button" value="Find Animal"></a></td>
                        </tr>
                    </table>
                </form>
            </td>

            <td style="width: 30%; border: 3px double lightseagreen">
                <form id="addPhoto" enctype="multipart/form-data" method="post">
                    <%if(animal.photoList.length == 0){%>
                    <p align="center"><img src="../../resources/img/emptyphoto.jpg" style="width: 80%"></p>
                    <%}else{%>
                    <p align="center"><img src="../../resources/photo/<%=animal.photoList[0]%>" class="photo"></p>
                    <%}%>

                    <div align="center" id="file<%=animal.id%>"></div>

                    <input id="<%=animal.id%>" name="file" type="file" class="inputFile" accept=".jpg, .png"/>

                    <div align="center">
                        <p id="fileName"></p>

                        <p><label class="upload" for="<%=animal.id%>">Choose Photo</label></p>

                        <p><input type="submit" value="Add Photo" style="clear:right;"/></p>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <%})%>

    <div align="center">
        <ul class="pagination pagination-lg">
            <%if(minLinkValue != 0){%>
            <li><a id="myPrevPages">&laquo;</a></li>
            <%}%>

            <% for (var i = minLinkValue; i < maxLinkValue; i++){%>
            <% if(activePGNLink == i){%>
            <li class="active"><a><%= i + 1%></a></li>
            <%} else {%>
            <li class="myPage"><a><%= i + 1%></a></li>
            <%}%>
            <%}%>

            <%if(maxLinkValue != numberOfPGNLinks){%>
            <li><a id="myNextPages">&raquo;</a></li>
            <%}%>
        </ul>
    </div>
</script>

<script type="text/template" id="user-profile">
    <form method="post">
        <%if(user.role == 'ROLE_USER'){%>
        <div style="margin-left: 1%">
            <p>

            <h3 style="color:red">Your account is not activated!</h3></p>
            <p>Activation message was sent on you email: <%=user.username%>.</p>

            <p>If you didn`t get message, try to get new one: <a id="getActivationMessage">Get activation message</a>.
            </p>
        </div>
        <%}%>
        <table class="table table-striped">
            <tr>
                <td><h2>Profile:</h2></td>
                <td><h2><input type="image" id="changeUser" src="../../resources/img/pencil.jpg"
                               style="width: 13%">
                </h2></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><%= user.lastName%></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><%= user.firstName%></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><%= user.phoneNumber%></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><%= user.username%></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><%= user.password%></td>
            </tr>
        </table>
    </form>
</script>

<script type="text/template" id="change-user-profile">
    <form method="post">
        <table class="table table-striped">
            <tr>
                <td><h2>Profile:</h2></td>
                <td></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" id="lastName" value=<%= user.lastName%>></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" id="firstName" value=<%= user.firstName%>></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" id="phoneNumber" value=<%= user.phoneNumber%>></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" id="password" value=<%= user.password%>></td>
            </tr>
            <tr>
                <td>
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button id="saveUser" type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</script>

<script type="text/template" id="add-animal-template">
    <form class="add-animal" method="post">
        <fieldset>
            <table class="table table-striped table-hover">
                <tr>
                    <td style="width: 40%"><h2>Create animal</h2></td>
                    <td style="width: 40%"></td>
                    <td style="width: 20%"></td>
                </tr>

                <tr>
                    <td style="width: 40%">Kind:</td>

                    <div class="col-lg-10">
                        <td style="width: 40%">
                            <select class="form-control" id="selectKind" style="width: 40%">
                                <% _.each(kinds, function(kind){%>
                                <option><%= kind.name %></option>
                                <%});%>
                            </select>
                        </td>
                        <td style="width: 20%"><input type="image" id="addNewKind" src="../../resources/img/plus.jpg"
                                                      style="width: 30%"></td>
                    </div>
                </tr>


                <tr>
                    <td style="width: 40%">Breed:</td>

                    <div class="col-lg-10">
                        <td style="width: 40%">
                            <select class="form-control" id="selectBreed" style="width: 40%">
                                <option></option>
                                <% _.each(breeds, function(breed){%>
                                <option><%= breed.name %></option>
                                <%});%>
                            </select>
                        </td>
                        <td style="width: 20%"><input type="image" id="addNewBreed" src="../../resources/img/plus.jpg"
                                                      style="width: 30%"></td>
                    </div>
                </tr>

                <tr>
                    <td style="width: 40%">Location:</td>

                    <div class="col-lg-10">
                        <td style="width: 40%">
                            <select class="form-control" id="selectLocation" style="width: 40%">
                                <% _.each(locations, function(location){%>
                                <option><%= location.name %></option>
                                <%});%>
                            </select>
                        </td>
                        <td style="width: 20%"><input type="image" id="addNewLocation"
                                                      src="../../resources/img/plus.jpg"
                                                      style="width: 30%"></td>
                    </div>
                </tr>

                <tr>
                    <td style="width: 40%">Supposed Age:</td>
                    <td style="width: 40%"><input class="form-control" type="text" id="animalAge" placeholder="Age"
                                                  style="width: 40%">
                    </td>
                    <td style="width: 20%"></td>
                </tr>


                <tr>
                    <td style="width: 40%">Criteria:</td>

                    <td style="width: 40%">
                        <div class="checkbox">
                            <label>
                                <% _.each(criteriaList, function(criteria){%>
                                <p style="padding-left: 50%"><input type="checkbox" value="<%= criteria.id%>"/><%=criteria.name%>
                                </p>
                                <%})%>
                            </label>
                        </div>
                    </td>
                    <td style="width: 20%"><input type="image" id="addNewCriteria" src="../../resources/img/plus.jpg"
                                                  style="width: 30%"></td>
                </tr>

                <tr>
                    <td style="width: 40%">Status:</td>
                    <td style="width: 40%">
                        <select class="form-control" id="selectStatus" style="width: 40%">
                            <option>LOST</option>
                            <option>FOUND</option>
                            <option>SALE</option>
                            <option>LOOK_FOR</option>
                        </select>
                    </td>
                    <td style="width: 20%"></td>
                </tr>

                <tr>
                    <div class="col-lg-10 col-lg-offset-2">
                        <td style="width: 40%">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button id="addButton" type="button" class="btn btn-primary">Submit</button>
                        </td>
                        <td style="width: 40%"></td>
                        <td style="width: 20%"></td>
                    </div>
                </tr>
            </table>
        </fieldset>
    </form>
</script>

<script type="text/template" id="users-template">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
        </tr>
        </thead>

        <tbody>
        <% _.each(users, function(user){%>
        <tr>
            <td><%= user.firstName %></td>
            <td><%= user.lastName%></td>
            <td><%= user.phoneNumber%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
</script>

<script src="../../js/util/animalsSearch.js"></script>
<script src="../../js/util/resourceLoader.js"></script>
<script src="../../js/navigation.js"></script>
</body>
</html>