html, body {
    background-color: #d6e9c6;
    height: 100%;
}

.container {
    background-color: #ffffff;
    width: 70%;
    margin-top: 1em;
    border: 1px solid #dddddd;
    box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
    -webkit-box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
    -moz-box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
    -o-box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
}

.textInput {
    width: 80%;
    margin: auto;
    border: 1px solid #dddddd;
    box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
    -webkit-box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
    -moz-box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
    -o-box-shadow: inset 0px 0px 21px -5px #ABABAB,1px 1px 5px 1px #DDDDDD;
}

.animalTable {
    width: 90%;
    height: 40%;
    border: 3px double lightseagreen;
}

.leftImg {
    float:left;
    margin: 7px 7px 7px 0;
    border: 3px solid #dddddd;
}
.rightImg  {
    float: right;
    margin: 7px 0 7px 7px;
    border: 3px solid #dddddd;
}


#welcomePage{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-size: larger;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photo{
    width: 65%
}

.photo:hover{
    border: 3px solid lightseagreen;
    cursor: pointer
}

.upload{
    border:3px double black
}

.upload:hover{
    border: 3px double lightseagreen;
    cursor: pointer
}

